@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.btn-primary {
  @apply px-6 py-2 rounded-md relative 
  radial-gradient hover:bg-opacity;
}

.btn-primary-text {
  @apply text-accent 
  tracking-wide 
  font-semibold h-full w-full block relative
  linear-mask;
}

:root {
  --radial-gradient-background: 0, 128, 128; /* --radial-gradient-background */
  --solid-color-background: 0,128,128; /*  --solid-color-background */
  --solid-color-background-secondary: 38, 218, 138; /*  --solid-color-background */
  --overlay-color: 0,126,127; /*  --overlay-color */
  /* Light Mode Colors */
  --color-primary: rgb(47, 72, 88); /* #2F4858 */
  --color-secondary: rgb(38, 218, 138); /* #26DA8A */
  --color-accent: rgb(0, 128, 128); /* #008080 */
  --color-background: rgb(244, 246, 248); /* #F4F6F8 */
  --color-opacitycolor: rgba(38, 218, 137, 0.4); /* #26DA8A */
}

/* Dark Mode Colors */
.dark {
  --radial-gradient-background: 255, 255, 255; /* radial-gradient-background */
  --solid-color-background: 0, 128, 127; /* solid-color-background */
  --solid-color-background-secondary: 38, 218, 138; /* solid-color-background-secondary */
  --overlay-color: 38, 218, 138; /* overlay-color */

  --color-primary: rgb(207, 207, 221); /* #CFCFDD */
  --color-secondary: rgb(0, 128, 128); /* #008080 */
  --color-accent: rgb(38, 218, 138); /* #26DA8A */
  --color-background: rgb(34, 50, 60); /* #22323C */
  --color-opacitycolor: rgba(0, 128, 128, 0.445);
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.07) 0%,
      transparent 60%
    )
    rgba(var(--solid-color-background), 0.01);
}

.radial-gradient-secondary {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.05) 0%,
      transparent 60%
    )
    rgba(var(--solid-color-background-secondary), 0.3);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 2) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.3) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.btn-secondary {
  @apply px-6 py-2 rounded-md
  relative radial-gradient-secondary hover:bg-opacity; 
}

.btn-secondary-text {
  @apply text-accent
  tracking-wide font-semibold
  h-full w-full block relative
  linear-mask;
}

.main-titles {
  @apply text-4xl font-bold mb-3
  bg-gradient-to-tl
  from-secondary
  to-accent
  bg-clip-text
  text-transparent;
  filter: drop-shadow(0.5px 0.5px 0.8px rgb(38, 218, 138));
}

.btns {
  @apply text-accent 
  hover:text-secondary
  cursor-pointer transition-colors;
}

.btns-icons {
  @apply cursor-pointer fill-accent hover:fill-secondary;
}
